@CHARSET "UTF-8";

body {
        background-color: #02021A;
}
 
.content {
        size: auto;
        background-color: #0E0F38;
        border: solid;
        border-width: 1px;
        border-color: #A180E5;
        text-align: center;
        color: #BDCFE5;
       
}
 
#matchSearch {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px;
        width: 200px;
}
 
#matchSearch h3 {
        color: #7DADE5;
        margin: 5px;
}
 
.lobby-timer {
        margin-left: 10px;
        text-align: left;
        width: 120px;
}
 
.lobby-timer .timer {
        float: right;
}