<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% module StaticURL('content/style.css') %}">
<title>{% block title %}Galactic Conquest{% end %}</title>
</head>
<body>
<div class="content" id="mainContent">
	{% block content %}{% end %}
</div>
</body>
</html>