{% extends "base.html" %}

{% block title %}Galactic Conquest - Play{% end %}

{% block content %}
	<div class="content" id="matchSearch">
        <h3>Searching for Match</h3>
        <div class="lobby-timer">
            Estimated:
            <span class="timer">1:05</span>
        </div>
        <div class="lobby-timer">
            Actual:
            <span class="timer">0:05</span>
        </div>
    </div>
{% end %}